<style>
    table {
    width: 100%;
    border-collapse: collapse; /* Ensures that the border lines between cells are merged into a single line */
    }

    th, td {
    border: 1px solid #cccccc; /* Adds a light grey border around each cell */
    padding: 8px; /* Adds space around text in each cell */
    text-align: left; /* Aligns text to the left */
    }

    thead {
        background-color: #f2f2f2; /* Light grey background for header row */
    }

</style>
<html>
<h1>Admin Console</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <!-- Assuming 'users' is passed from the Flask view -->
        {% for eachuser in userlist %}
        <tr>
            <td>{{ eachuser.id }}</td>
            <td>{{ eachuser.name }}</td>
            <td>{{ eachuser.email }}</td>
            <td>{{ eachuser.role }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</html>



